<table border="0" cellspacing="0">
    <colgroup width="54"></colgroup>
    <colgroup width="134"></colgroup>
    <colgroup width="224"></colgroup>
    <colgroup width="217"></colgroup>
    <colgroup width="259"></colgroup>
    <tbody>
        <tr>
            <td colspan="5" align="left" valign="middle" height="43"><b><span> @ งานมาตรฐานผลิตภัณฑ์และสถานประกอบการด้านบริการสุขภาพ</span></b></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="center"><b><span>หน่วยงานย่อย</span></b></td>
            <td align="center" valign="middle"><b><span>ชื่อ - สกุล</span></b></td>
            <td align="center" valign="middle"><b><span>ตำแหน่ง</span></b></td>
            <td align="center"><b><span>รับผิดชอบงาน</span></b></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="40"><span> </span></td>
            <td colspan="4" align="left" valign="middle"><b><span>งานควบคุมกำกับมาตรฐานของยาและผลิตภัณฑ์สุขภาพก่อนออกสู่ตลาด (One Stop Service Center)</span></b></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span>(Pre-marketing)</span></b></td>
            <td align="left" valign="middle"><span>นางจันทนา วิสุทธิกุล</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>หัวหน้างาน Pre-marketing</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นายประวิทย์ สุวรรณ</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานอนุญาตอาหาร</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางสาวธนลักษณ์ เทพเทพา</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานอนุญาตร้านยา</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางสาวจิตติมา ชีวะตระกุลพงษ์</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานอนุญาตเครื่องสำอาง</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางวรรณฤดี กิจเจริญรุ่งโรจน์</span></td>
            <td align="left" valign="middle"><span>นักวิชาการสาธารณสุขชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานอนุญาตสถานพยาบาล</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td colspan="4" align="left" valign="middle"><b><span>งานควบคุมกำกับมาตรฐานของยาและผลิตภัณฑ์สุขภาพหลังออกสู่ตลาด</span></b></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="40"><span> </span></td>
            <td align="left" valign="middle"><b><span>(Post-marketing)</span></b></td>
            <td align="left" valign="middle"><span>นางนฤมล ขันตีกุล</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span> หัวหน้างาน Post-marketing</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางดวงธิดา กนิษฐสวัสดิ์</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานตรวจGMP</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางอุบล ธาราวรรณ</span></td>
            <td align="left" valign="middle"><span>นักวิชาการสาธารณสุขชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานตรวจ Primary GMP</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางไพลิน ชัยมงคล</span></td>
            <td align="left" valign="middle"><span>นักวิชาการสาธารณสุขชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานตรวจ Primary GMP</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นายมโนรมภ์ สินธพอาชากุล</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานตรวจร้านขายยา</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="35"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นายนพพล สมปัน</span></td>
            <td align="left" valign="middle"><span>นักวิชาการสาธารณสุข</span></td>
            <td align="left" valign="middle"><span>งานตรวจGMP , งานเฝ้าระวังสื่อโฆษณา</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="55"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางสาวนัทธินี วัฒนวราสันติ์</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานเครื่องสำอาง , งานวัตถุเสพติด, งานเครื่องมือแพทย์, งานเฝ้าระวังสื่อโฆษณา</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางนลินาถ จ่าภา</span></td>
            <td align="left" valign="middle"><span>นักวิชาการสาธารณสุขชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานวัตถุอันตราย</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="55"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางแพรวพรรณ ดีพลภักดิ์</span></td>
            <td align="left" valign="middle"><span>จพง.เภสัชกรรมชำนาญงาน</span></td>
            <td align="left" valign="middle"><span>งานหน่วยเคลื่อนที่ความปลอดภัยด้านอาหารและผลิตภัณฑ์สุขภาพ</span></td>
        </tr>
        <tr>
            <td align="left" height="27"><b><span> </span></b></td>
            <td colspan="4" align="left" valign="middle"><b><span>งานมาตรฐานสถานพยาบาล</span></b></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นายพัฒนา ศรชัย</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานสถานพยาบาล , งานเครื่องมือแพทย์</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="58"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span style="color: #000000; font-family: 'Angsana New'; font-size: large;">นางรำไพพรรณ ไชยานะ</span></td>
            <td align="left" valign="middle"><span style="color: #000000; font-family: 'Angsana New'; font-size: large;">เจ้าพนักงานสาธารณสุขชำนาญงาน</span></td>
            <td align="left" valign="middle"><span>งานสถานพยาบาล , งานสารบรรณ</span></td>
        </tr>
        <tr>
            <td colspan="5" align="left" valign="middle" height="40"><b><span> @ งานคุ้มครองสิทธิผู้บริโภคด้านสาธารณสุข</span></b></td>
        </tr>
        <tr>
            <td align="left" height="29"><b><span> </span></b></td>
            <td align="left"><span> </span></td>
            <td align="left" valign="middle"><span>นายพิสณฑ์ ศรีบัณฑิต</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left"><span> </span></td>
        </tr>
        <tr>
            <td align="left" height="29"><b><span> </span></b></td>
            <td align="left"><span> </span></td>
            <td align="left" valign="middle"><span>นางสลิลลา มูลแก้ว</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left"><span> </span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางนลินาถ จ่าภา</span></td>
            <td align="left" valign="middle"><span>นักวิชาการสาธารณสุขชำนาญการ</span></td>
            <td align="left" valign="middle"><span> </span></td>
        </tr>
        <tr>
            <td colspan="5" align="left" valign="middle" height="40"><b><span> @ งานพัฒนาระบบยาและเวชภัณฑ์</span></b></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นายมโนรมภ์ สินธพอาชากุล</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span> </span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นายพิรุณ อินตา</span></td>
            <td align="left" valign="middle"><span style="color: #000000; font-family: 'Angsana New'; font-size: large;">เจ้าพนักงานสาธารณสุขชำนาญงาน</span></td>
            <td align="left" valign="middle"><span> </span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span> </span></td>
            <td align="left" valign="middle"><span style="color: #000000; font-family: 'Angsana New'; font-size: large;"> </span></td>
            <td align="left" valign="middle"><span> </span></td>
        </tr>
        <tr>
            <td colspan="5" align="left" valign="middle" height="40"><b><span> @ งานพัฒนาระบบงานคุ้มครองผู้บริโภคและบริการวิชาการ</span></b></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="54"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางนฤมล ขันตีกุล</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานพัฒนากลยุทธ์ด้านคุ้มครองผู้บริโภคด้านสาธารณสุข</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="60"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางทิวาพร เขาสุเมรุ</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานพัฒนาระบบงานคุ้มครองผู้บริโภคด้านสาธารณสุข , อย.น้อย</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="123"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นายพิสณฑ์ ศรีบัณฑิต</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานเฝ้าระวังทางระบาดวิทยาด้านอาการไม่พึงประสงค์และความปลอดภัยขากการบริโภคยาและผลิตภัณฑ์สุขภาพ</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นายมโนรมภ์ สินธพอาชากุล</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานฝึกนักศึกษา,วิชาการความรู้</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="57"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางดวงธิดา กนิษฐสวัสดิ์</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานฝึกนักศึกษา,วิชาการความรู้</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="60"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางสาวนัทธินี วัฒนวราสันติ์</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span>งานจัดดารระบบสารสนเทศด้านการคุ้มครองผู้บริโภคและเภสัชสาธารณสุข</span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="58"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นายนพพล สมปัน</span></td>
            <td align="left" valign="middle"><span>นักวิชาการสาธารณสุข</span></td>
            <td align="left" valign="middle"><span>งานจัดดารระบบสารสนเทศด้านการคุ้มครองผู้บริโภคและเภสัชสาธารณสุข</span></td>
        </tr>
        <tr>
            <td colspan="5" align="left" valign="middle" height="26"><b><span> @ งานธุรกิจบริการสุขภาพ</span></b></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นายพลแก้ว วัชระชัยสุรพล</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span> </span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><span> </span></td>
            <td align="left" valign="middle"><span>นางสาวอัญชญา ดุจจานุทัศน์</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span> </span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left" valign="middle"><span> </span></td>
            <td align="left" valign="middle"><span>นางพรทิพย์ มธุรวาทิน</span></td>
            <td align="left" valign="middle"><span>นักวิชาการสาธารณสุขชำนาญการ</span></td>
            <td align="left" valign="middle"><span> </span></td>
        </tr>
        <tr>
            <td colspan="5" align="left" valign="middle" height="23"><b><span> @ งานด่านอาหารและยา</span></b></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นางสาวทิพากร วังคะวงษ์</span></td>
            <td align="left" valign="middle"><span>เภสัชกรชำนาญการ</span></td>
            <td align="left" valign="middle"><span> </span></td>
        </tr>
        <tr>
            <td align="left" valign="middle" height="29"><span> </span></td>
            <td align="left"><b><span> </span></b></td>
            <td align="left" valign="middle"><span>นายโสพันธ์ บวรสิน</span></td>
            <td align="left" valign="middle"><span>นายแพทย์ชำนาญการพิเศษ</span></td>
            <td align="left"><span> </span></td>
        </tr>
    </tbody>
</table>