/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2014, 9:57:55 AM
    Author     : frankent
*/
@import url('font/supermarket/supermarket.css');

.supermarket{
    font-family: 'supermarketregular' , sans-serif;
}

body{
    background-color: #e7e7e7;
    border-top: 10px solid #006500;
}

.format-control{

}

.format-control h1, .format-control h2, .format-control h3, .format-control h4, .format-control h5, .format-control h6{
    font-family: 'supermarketregular' , sans-serif;
}

.white{
    color: #fff;
}

.font_12{
    font-size: 12px;
}

.light_green{
    color: #27de2c;
}

.green{
    color: #006500;
}

.red{
    color: #ff0000;
}

#mySlide{
    /*height: 385px;*/
    height: 376px;
}

.menu_head{
    background: url("img/menu_bar_tiles.jpg") repeat-x;
    border-radius: 0px 0px 8px 8px;
    height: 50px;
}

ul.menu {
    padding: 0px 0px 0px 10px;
}

ul.menu li{
    display: inline-block;
    padding: 0px 15px;
}

ul.menu li a{
    color: #fff;
    font-size: 20px;
    line-height: 50px;
}

.tils_index{
    background: url("img/grey_tiles.jpg") repeat-x;
    line-height: 40px;
    height: 40px;
    border-radius: 10px 0 0 0;
    padding: 0 30px;
    font-size: 17px;
}

.left_shadow{
    box-shadow: inset -5px 0 20px -7px rgba(0,0,0,0.4)
}

.panel_left_body{
    background-color: #fff;
}

.post_slide_box, .bottom_news_bxslide{
    padding: 10px 25px;
}

.border_grey{
    border: 4px solid #ccc;
}

.news_index_block{
    padding: 5px;
}

.news_index_block h4{
    margin: 5px 0px 5px;
}

.news_index_block p{
    font-size: 11px;
    color: #c3c3c3;
    padding-left: 14px;
}

.display_index{
    min-height: 417px;
    display: block;
}

.news_rows{
    padding: 0px 25px;
}

.bx-wrapper{
    position: relative;
}

#top_set .bx-controls{
    position: absolute;
    top: -27px;
    right: 13px;
}

#category_set .bx-controls{
    position: absolute;
    top: -26px;
    right: 10px;
}

.bx-pager{

}

#top_set .bx-pager-item, #category_set .bx-pager-item{
    display: inline-block;
}

#top_set .bx-pager-item a, #category_set .bx-pager-item a{
    background: rgba(0,0,0,0.2);
    text-indent: -9999px;
    display: block;
    width: 13px;
    height: 13px;
    margin: 0 3px;
    outline: 0;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    border: 1px solid #999;
}

#top_set .bx-pager-item a.active, #category_set .bx-pager-item a.active{
    background: rgba(0,0,0,0.8);
    border: 1px solid transparent;
}

#top_set .bx-controls-direction, #category_set .bx-controls-direction{
    display: none;
}

#bottom_set p{
    padding-left: 0px;
}

#bottom_set .bx-pager{
    padding: 0px 13px;
    font-size: 12px;
}

#bottom_set .bx-pager-item{
    display: inline-block;
    margin-right: 3px;
}

#bottom_set .bx-pager-item a{
    text-decoration: none;
    padding: 2px;
    color: #b2b2b2;
}

#bottom_set .bx-pager-item a.active{
    color: #fff;
    background-color: #006500;
}

#bottom_set .bx-controls-direction{
    display: none;
}

a.black{
    color: #000;   
}

.font_11{
    font-size: 11px;
}

.grey{
    color: #ccc;
}

.margin_bottom_0{
    margin-bottom: 0;    
}

#bottom_set .bx-controls{
    padding: 7px 0;
    border-top: 1px solid #ccc;
}

.panel_right{
    background-color: #fff;
    border-radius: 0 10px 0 0;
}

.panel_sidebar_top{
    padding: 0 20px;
    border-bottom: 1px solid #dadada;
}

.panel_sidebar_top h3{
    margin: 0;
    line-height: 40px;
}

.txt_center{
    text-align: center;
}

.footer{
    height: 286px;
    background: url("img/dummy_footer_bg.jpg") repeat-x;
}

.map_footer{
    border: 5px solid #36cf02;
    height: 170px;
}

.txt_left{
    text-align: left;
}

.hilight_thumb{
    height: 335px;
    background-size: auto 100%;
    background-position: center;
    background-color: #efefef;
    position: relative;
    display: block;
}

a.hilight_thumb .placement_title{
    padding: 6px;
    background-color: rgba(46,46,46,0.4);
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transition: background-color 300ms;
    transition: background-color 300ms;
}

a.hilight_thumb:hover .placement_title{
    background-color: rgba(46,46,46,1);
}

.thumb_cover{
    margin-top: -75px;
}

ul.hilight_bxslider{
    padding: 0px;
}


ul.hilight_bxslider>li{
    display: block;
    min-height: 670px;
}

.general-form-control h1,.general-form-control h2,.general-form-control h3,.general-form-control h4,.general-form-control h5,.general-form-control h6{
    color: #006500;
    font-family: 'supermarketregular' , sans-serif;
    margin: 20px 0 10px;
}

.general-form-control h1:first-of-type,.general-form-control h2:first-of-type,.general-form-control h3:first-of-type,.general-form-control h4:first-of-type,.general-form-control h5:first-of-type,.general-form-control h6:first-of-type{
    margin-top: 0px;
}

.plain-form{
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.plain-form table{

}

.plain-form table thead{
    background-color: #006500;
    color: #fff;
}

.plain-form table thead th{
    text-align: center;
}

.phone_footer_label{
    color: #fff;
    font-size: 24px;
    margin: 18px 0;
    padding: 10px 0px 4px;
    border-top: 1px solid #0da80c;
    border-bottom: 1px solid #0da80c
}

.phone_footer_label img{
    display: inline-block;
    margin-top: -13px;
}

.phone_footer_label span{
    display: inline-block;
    padding-top: 2px;
}